@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Khand", sans-serif;
  font-size: 1rem;
}

header {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
}

header img {
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.container1 {
  /*primera seccion del body*/
  display: flex;
}

.item {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.icon {
  width: 30px;
  height: auto;
}

.item:first-child {
  width: 60%;
  padding-left: 5%;
}

.item:last-child {
  justify-content: flex-start;
  padding-left: 2%;
}

.container2 {
  /*segunda seccion del body*/
  display: flex;
}

.item2 {
  width: 23%;
  padding: 5px;
}

.item2 h3 {
  color: rgb(68, 186, 190);
}

.item2:first-child .item2:first-child {
  width: 15%;
}

footer {
  /*pié*/
  width: 100%;
  bottom: 0;
  display: flex;
  position: fixed;
}
footer div {
  width: 25%;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.footer.face {
  background-color: rgb(66 103 178);
}

.footer.whats {
  background-color: rgb(37 211 102);
}

.footer.twitter {
  background-color: rgb(29 161 242);
}

.footer.plus {
  background-color: rgb(211, 63, 63);
}

footer img {
  display: flex;
  align-items: center;
  width: 10%;
}
