body {
  font-family: "source-sans-pro";
  margin: 0;
  /* font-size: 1vw; */
}

@font-face {
  font-family: "source-sans-pro";
  src: url(/xiaomi/fonts/source-sans-pro/SourceSansPro-Regular.ttf);
}
.banner {
  background-color: #000000;
  color: #ffffff;
  z-index: 1;
  position: sticky;
  text-align: center;
  font-size: 0.8em;
  padding: 0.5%;
}
ul {
  list-style-type: none;
  display: flex;
}
a {
  text-decoration: none;
  color: #000000;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon{
    width: 20px;
}
.nav {
    display: flex;
    justify-content: space-around;
}
.menuIzquierdo {
    display: flex;
    gap: 1rem;
}
.menuDerecho {
    display: flex;
    gap: 1rem;
}
