body {
  font-family: "source-sans-pro";
  margin: 0;
  padding: 0;
  /* font-size: 1vw; */
}

@font-face {
  font-family: "source-sans-pro";
  src: url(/xiaomi/fonts/source-sans-pro/SourceSansPro-Regular.ttf);
}
.banner {
  background-color: #000000;
  color: #ffffff;
  z-index: 1;
  position: sticky;
  text-align: center;
  font-size: 0.9em;
  padding: 0.5%;
}
ul {
  list-style-type: none;
  display: flex;
}
a {
  text-decoration: none;
  color: #000000;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: calc(100% - 2rem);
}
.icon {
  width: 20px;
}
.nav {
  display: flex;
  justify-content: space-around;
  /* padding top: ; */
}
.menuIzquierdo {
  display: flex;
  gap: 1rem;
}
.menuDerecho {
  display: flex;
  gap: 1rem;
}
.container {
  display: flex;
  margin-top: 5px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 1rem);
  height: 7%;
  border-radius: 15px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
}
/* .button::after {
  content: "hola";
  color: red;
} */
.item:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
  width: 15%;
}

.item:nth-child(2) {
  width: 25%;
}

.item:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
  width: 15%;
}
.botones {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.slider{
  display: flex;
  width: 10px;
}

.pro{
  display: flex;
  width:85%;
}
/* .img2{
  width: 100px;
} */

footer{
  display: flex;
  background-color: #000000;
  color:#ffffff;
}

footer a {
color: #ffffff;
font-weight: 100;
}

.mail input{
  border-radius: 10px;
  height: 30px;
  border: 0.5px solid #ffffff;
  background-color: #000000;
  padding: 3px;
}
.googleplay{
  display: flex;
}
.icon2{
  height: 20px;
}
