@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Kanit", sans-serif;
}

.checkEjercicio {
  display: flex;
  justify-content: space-around;
  gap: 2em;
}

input,
label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.check {
  background-color: #ffffff;
  width: 80px;
  height: 80px;
  appearance: none;
  border: 8px solid #000000;
  outline: 8px solid #ffffff;
  box-shadow: #000000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.check:hover {
  background: rgba(35, 136, 38, 0.3);
}

.check:checked {
  background-color: #008000;
}
