@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0 auto;
  font-family: "Sour Gummy", sans-serif;
  cursor: url("../img/icons8-cursor-25.png"), auto;
}
.contenedor {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 15% 85%;
}

.logo {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #846b5f;
}

.logo img {
  object-fit: cover;
  max-width: 100%;
  vertical-align: middle;
  margin: 0;
}

.menu {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  background-color: #e2cfc6;
  color: #5c483f;
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  align-items: end;
}

.menu img{
  width: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #5c483f;
  font-size: 1.2em;
  padding-bottom: 2%;
  padding-right: 1%;
  cursor: url("../img/icons8-cursor-25.png"), auto;
}

.categorias {
  grid-column: 1/2;
  grid-row: 2;
  background-color: #91857f;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.productos {
  grid-column: 2;
  grid-row: 2;
  background-color: #5c483f;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  padding: 3em;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foto {
  width: 250px;
  height: 130px;
  padding-bottom: 2%;
}

.estrellas {
  display: flex;
  justify-content: center;
}

.estrellas img {
  width: 25px;
}

h3 {
  color: #e2cfc6;
  padding-top: 1%;
  margin: 2px;
}

.producto p {
  margin: 2px;
  color: #e2cfc6;
}

@media (max-width: 475px) {
  .contenedor {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
  }

  .menu a {
    display: none;
  }

  .logo {
    height: 100%;
  }

  .productos {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 1;
    padding: 3%;
  }

  .categorias {
    display: none;
  }
}
