body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: calc(0.5em + 1vw); /*fuente responsive*/
  background: #e7e1e1;
}
.contenedor {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 2%;
  padding: 2%;
}
.item {
  color: #ffffff;
  width: 22%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 10px;
}
h1 {
  text-align: center;
}
.negro {
  background: linear-gradient(#000000 85%, #ffffff 15%);
  color: #000000;
}
.blanco {
  background: linear-gradient(#ffffff 85%, #000000 15%);
  color: #ffffff;
}
.azul {
  background: linear-gradient(#181363 85%, #ffffff 15%);
  color: #000000;
}
.azulClaro {
  background: linear-gradient(#8aa8e5 85%, #ffffff 15%);
  color: #000000;
}
