body {
  font-size: 2em;
  margin: 0;
  padding: 5%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

input [type="text"],
input [type="password"],
input [type="submit"] {
  margin-top: 5%;
}
