@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*responsive*/
@media (max-width: 475px) {
  /*móvil*/
  .container {
    flex-wrap: wrap;
  }
  .item:last-child {
    order: -1;
  }
  .item:nth-child(){
    background-color: rgb(190, 181, 181);
  }
}

@media (min-width: 475px) and (max-width: 1024px) {
  /*tablet*/
  .item:last-child {
    order: -1;
  }
  .item:nth-child() {
    border: solid 1px black;
    display:flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  /*desktop*/
}
