@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}
.item {
  display: flex;
}
.icon {
  align-items: center;
}
