body {
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 5%;
}

.principal {
  margin: 10%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.container {
  display: flex;
}

.container::before {
  height: 30px;
  width: 30px;
  background-size: cover;
  content: "";
  background-image: url(https://img.icons8.com/?size=100&id=cvXpB2FlzuLp&format=png&color=000000);
  display: inline-block;
}

.container:focus-within::before {
  background-image: url(https://img.icons8.com/?size=100&id=eY0uAA2Idt8H&format=png&color=000000);
}
/*contraseña*/
input[type="password"] {
  border: 0px;
  margin-top: 0;
  font-size: 1em;
  width: 50%;
  outline: none;
}
/*usuario*/
input[type="text"] {
  border: 1.5px solid grey;
  padding: 9px;
  font-size: 1em;
  width: 97%;
  height: 10%;
}
/*estilo botón*/
input[type="submit"] {
  border: none;
  background-color: #000000;
  color: #b87b4af5;
  font-size: 0.8em;
  height: 50px;
}
