@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.principal {
  width: 100%;
  display: flex;
  height: 100vh;
}

.seccion1 {
  width: 31%;
  padding: 6% 5% 7% 14%;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #83d383;
  display: flex;
  flex-direction: column;
}

span {
  color: #ffff00;
}

.seccion2 {
  width: 30%;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 80%;
}

form input,
form p {
  width: 100%;
  padding-bottom: 2%;
  font-weight: bold;
  padding-top: 2%;
}

.clave_contenedor {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000;
  margin-bottom: 5%;
}

.clave_contenedor::after {
  height: 20px;
  width: 20px;
  background-size: cover;
  content: "";
  background-image: url(https://img.icons8.com/?size=100&id=85130&format=png&color=000000);
  display: inline-block;
}

#correo {
  border: none;
  border-bottom: 1px solid #000000;
  margin-top: 0;
  font-size: 1em;
  font-weight: lighter;
  width: 100%;
  outline: none;
}

#contrasenia {
  border: none;
  margin-top: 0;
  font-size: 1em;
  font-weight: lighter;
  width: 100%;
  outline: none;
}

a:link {
  color: #000000;
  font-weight:bold;
}

.icon {
  width: 20px;
}

#continuar {
  margin-top: 3%;
  border-radius: 30px;
  border: none;
  background-color: #5ea05e;
  color: #ffffff;
  font-size: 1em;
  padding: 0.8em;
  margin-bottom: 4em;
}

#boton {
  border-radius: 30px;
  border: none;
  background-color: #d8dbd8;
  color: #000000;
  font-size: 1em;
  padding: 0.8em;
  margin-bottom: 2em;
}

/*Responsive*/
@media (max-width: 425px) {
  .principal {
    display: flex;
    flex-direction: column;
  }
  .seccion2 {
    width: 80%;
    order: -1;
  }
  .seccion1 {
    width: 80%;
  }
}
